Flask-Admin==1.5.3
Flask-Login==0.2.11
Flask-MongoEngine==0.7.1
Pillow==2.6.1
rq==0.4.6
-e git://github.com/ajduncan/stagger.git@master#egg=stagger
-e git://github.com/ajduncan/downspout.git@master#egg=downspout
